input[type=radio] {
	margin-right: 6px;
}

.h4, h4{
	font-style: italic;
	color: #bbb;
}

.sidebar{
	background:#eee;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0;
	padding-right:0;
}

.sidebar h3{
	padding-top:0;
	margin-top:0;
	margin:0;
	padding-left:10px;
	font-size:20px;
	padding-bottom:10px;
}

.sidebar #form{
	height:400px;
	position:relative;
	overflow-y:scroll;
	background:#f6f6f6;
	width:	100%;
	padding-left:10px;
}

.sidebar #scrolltext{
	padding-left:10px;
	padding-top:10px;
}