<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title> {{ page.title }} </title>
	<!-- bootstrap code -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- custom CSS style -->
	<link rel="stylesheet" href="http://usnish.org/viz/css/style.css" />

	<meta name="robots" content="noindex">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://usnish.org/viz/">Usnish Majumdar :: visualization sandbox</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Demos<span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="http://usnish.org/viz/glopro.html">GLO-PRO Essential Cardiovascular Medicines</a></li>
				          <li><a href="http://usnish.org/viz/testmap.html">MapBox testing</a></li>
				        </ul>
			      	</li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="container">
		{{ page.content }}
	</div>

</body>

</html>
